.container--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-top: 1px solid #fff;
}
.container--main .portfolio__image {
    height: 100px;
}
.container--main .portfolio__image a{
    position: relative;
    display: inline-block;
    height: 100%;
    width: calc(100px * 1.7);
}
.container--main span{
    font-family: "Noto Sans Display";
}

.text--main {
    display: flex;
    flex-direction: column;
}