.container__main {
}
.container--content {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.container--content .container--content__main {
   width: 100%;
   height: auto;
}

.container--content__introduction,
.container--content__cta {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   max-width: 380px;
   margin: 0 auto;
}
.container--content__introduction {
   width: 83%;
   margin-bottom: 50px;
}
.container--content__introduction.bottom {
   margin-bottom: 20px;
}

.container--content__introducion--text {
   margin-top: 30px;
   margin-bottom: 10px;
}
.container--content__introducion--text p {
   font-family: "Noto Sans Display", sans-serif;
   font-size: 16px;
}

.container--content__cta {
   max-width: 400px;
   margin-bottom: 100px;
}
.container--content__cta.bottom {
   max-width: 420px;
   margin-bottom: 40px;
}

.container--content__cta .container--content__cta--copyButton {
   position: relative;
   font-size: 14px;
   font-family: "Source Code Pro", monospace;
   width: 100%;
   border: none;
   border-radius: 3px;
   padding: 13px 16px;
   color: #fff;
   background-color: #e07070;
   cursor: pointer;
}
.container--content__cta .container--content__cta--copyButton::after {
   content: "// Thanks you for this opportunity!";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   background-color: #e07070;
   opacity: 0;
   visibility: hidden;
}
.container--content__cta .container--content__cta--copyButton:active::after {
   opacity: 1;
   visibility: visible;
}
.container--content__cta .container--content__cta--copyButton::before {
   content: "Copy";
   position: absolute;
   top: 0;
   left: 3%;
   padding: 5px 10px;
   background-color: #e07070;
   color: #fff;
   border-radius: 3px;
   font-size: 14px;
   font-family: "Source Code Pro", monospace;
   transition: 200ms ease-in-out;
   z-index: -1;
}
.container--content__cta .container--content__cta--copyButton:hover::before {
   top: -70%;
}
.container--content__cta .container--content__cta--copyButton:active::before {
   content: "Copied!";
}

.container--content__cta .container--content__cta--links {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 60px;
   padding-top: 20px;
   width: 90%;
}
.container--content__cta.bottom .container--content__cta--links {
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   margin-top: 30px;
}
.container--content__cta .container--content__cta--links::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #fff;
}

.container--content__cta .container--content__cta--links .container--content__cta--link {
   font-size: 16px;
   font-family: "Noto Sans Display", sans-serif;
   color: #fff;
   text-decoration: none;
}
.container--content__cta .container--content__cta--links .container--content__cta--link {
   font-size: 14px;
}
.container--content__cta.bottom .container--content__cta--links .container--content__cta--link {
   margin-bottom: 10px;
}

.container--content__cta .container--content__cta--links .container--content__cta--link span {
   position: relative;
   display: block;
   padding: 0 5px;
   padding-bottom: 10px;
}
.container--content__cta .container--content__cta--links .container--content__cta--link span::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #fff;
   transition: 200ms ease;
}
.container--content__cta.bottom .container--content__cta--links .container--content__cta--link span::before {
   bottom: 20%;
}
.container--content__cta .container--content__cta--links .container--content__cta--link:hover span::before {
   bottom: 30%;
}


@media (min-width: 1024px) {
   .container.container--content {
      max-width: 1024px;
   }

   .container--content .container--content__main {
      position: relative;
      height: 50vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 70px;
   }
   .container--content .container--content__main::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -50%);
      width: 2px;
      height: 70%;
      max-height: 650px;
      background-color: #fff;
   } 

   .container--content__cta.bottom .container--content__cta--links {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
   }
   .container--content__cta.bottom .container--content__cta--links .container--content__cta--link {
      width: calc(50% - 20px);
      margin: 0 10px;
      margin-bottom: 15px;
   }
}
